{
  "presets": [
    ["@babel/preset-env", { "loose": true }],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "@bable/plugin-transform-runtime",
    ["import", { "libraryName": "antd-mobile" }],
  ]
}
